{{#> admin}}
{{#*inline "content"}}
<div class="card mb-4">
  <div class="card-header">
    Create Products
  </div>
  <div class="card-body">
    {{#if flashErrors}}
    {{#each flashErrors}}
      <p class="alert alert-danger">{{this}}</p>
    {{/each}}
    {{/if}}
    <form action="/admin/products/store" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col">
          <div class="mb-3 row">
            <label class="col-lg-2 col-md-6 col-sm12 col-form-label">Name:</label>
            <div class="col-lg-10 col-md-6 col-sm-12">
              <input type="text" name="name" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3 row">
            <label class="col-lg-2 col-md-6 col-sm12 col-form-label">Price:</label>
            <div class="col-lg-10 col-md-6 col-sm-12">
              <input type="number" name="price" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3 row">
              <label class="col-lg-2 col-md-6 col-sm-12 col-form-label">Image:</label>
              <div class="col-lg-10 col-md-6 col-sm-12">
                <input type="file" class="form-control" name="image">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          &nbsp;
        </div>
        <div class="mb-3 row">
          <label class="form-label">Description</label>
          <textarea name="description" class="form-control" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Manage Products
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each viewData.products}}
        <tr>
          <td>{{getId}}</td>
          <td>{{getName}}</td>
          <td>
            <a class="btn btn-primary" href="/admin/products/{{getId}}">
              <i class="bi-pencil"></i>
            </a>
          </td>
          <td>
            <form action="/admin/products/{{getId}}" method="POST">
              <button class="btn btn-danger">
                <i class="bi-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/inline}}
{{/admin}}